// text classes
.text-capitalize{
    text-transform: capitalize;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

.text-warning{
    color: $color-warning;
}
.text-light{
    color: $color-light;
}

.text-dark{
    color: $color-dark;
}

// margin and padding classes
.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.3rem;
}
.m-3{
    margin: 1.7rem;
}
.m-x-1{
    margin:0 1rem;
}
.m-x-2{
    margin:0 1.3rem;
}
.m-x-3{
    margin:0 1.7rem;
}
.m-y-1{
    margin: 1rem 0;
}
.m-y-2{
    margin: 1.3rem 0;
}
.m-y-3{
    margin: 1.7rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.3rem;
}
.p-3{
    padding: 1.7rem;
}
.p-x-1{
    padding:0 1rem;
}
.p-x-2{
    padding:0 1.3rem;
}
.p-x-3{
    padding:0 1.7rem;
}
.p-y-1{
    padding: 1rem 0;
}
.p-y-2{
    padding: 1.3rem 0;
}
.p-y-3{
    padding: 1.7rem 0;
}

.center{
    justify-content: center;
      align-items: center;
      text-align: center;
}
.lead{
font-size: 1.4rem;
letter-spacing: 1px;
}
.current{
    background: $color-danger;
    color: $color-light;
}



// btn classes
.btn{
    font-size: 1.4rem;
    padding: 5px 20px;
    transition: all 0.5s ease;
    &:hover{
        background: transparent;
    }
}
.btn-danger{
color: $color-light;
background: $color-danger;
border: 1px solid $color-danger;
border-radius: 5px;
}
.btn-warning{
    color: $color-light;
    background: $color-warning;
    border: 1px solid $color-warning;
    border-radius: 5px;
    margin: 10px;
    }




// badges
.badge{
    font-size: 1.2rem;
    padding: 3px 6px;
    border-radius: 10px;
    margin: 10px;
}
.badge-warning{
background: $color-warning;

}
.badge-purple{
    background: $color-purple;
}

.badge-primary{
    background: $color-primary;
}
// backgrounds
.bg-light{
    color: $color-dark;
    background: $color-light;
}
.bg-dark{
    background: $color-dark;
    color: $color-light;
}
.bg-white{
    background: $color-white;
}
.bg-danger{
    background: $color-danger;
}
.bg-black{
    background: #222;
}